*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
    font-family: 'roboto' sans-serif;
}

#root{
    display: grid;
    grid-template-rows: 48px 1fr 48px;
}

:root{
    --Cor-primaria-escura: #1f0050;
    --Cor-primaria: #310180;
    --Cor-primaria-clara: #4401b1;


    --Cor-fundo-escura: #121212;
    --Cor-fundo: #151515;
    --Cor-fundo-clara: #181818;

    --Cor-texto: #ffffff; 
}
