

.Cabecalho_root{
    background-color: var(--Cor-primaria-escura);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 0px;
    border-bottom: 5px;
    border-color: var(--Cor-primaria-clara);
    border-style: solid;

    img{
        width: 30px;
        height:     30px;
    }
    h4{
        color: var(--Cor-texto);
        margin-right: 20px;
    }
    
}